# STATS 306 Fall 2020
## Homework 3: More about Data Transformation, 30 points



**Assigned:** 09/24/2020 at 12pm

**Due:** 10/01/2020 by 11:59pm

Your uniqid: `<replace with your uniqid>`

For your homework, you will be using the packages `tidyverse`, `nycflights13`, and `bil.RData`.  The `flights` data set will be available after loading the library `nycflights13`.   To install the packages and load the library, follow the instruction below.  To load `bil.RData`, you have to put `bil.RData` in the same folder as your `HW3.ipynb` and type `load("bil.RData")`.

In [4]:
library(tidyverse)
library(nycflights13)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [30]:
load("bil.RData")
print(bil)

# A tibble: 2,614 x 22
     age category citizenship company.name company.type `country code` founded
   <int> <chr>    <chr>       <chr>        <chr>        <chr>            <int>
 1    -1 Financi… Saudi Arab… Rolaco Trad… new          SAU               1968
 2    34 Financi… United Sta… Fidelity In… new          USA               1946
 3    59 Non-Tra… Brazil      Companhia B… new          BRA               1948
 4    61 New Sec… Germany     Ratiopharm   new          DEU               1881
 5    -1 Financi… Hong Kong   Swire        new          HKG               1816
 6    -1 Traded … Bahrain     YBA Kanoo    new          BHR               1890
 7    -1 New Sec… Japan       Otsuka Hold… new          JPN               1921
 8    -1 Traded … Japan       Sony         new          JPN               1946
 9    66 Financi… Japan       Mori Buildi… new          JPN               1959
10    -1 Traded … France      Chanel       new          FRA               1909
# … with 2,604 more rows, and 15 more variables: `from emerging` <chr>,
#   gdp <dbl>, gender <chr>, industry <chr>, inherited <chr>, name <chr>,
#   rank <int>, region <chr>, relationship <chr>, sector <chr>, `was
#   founder` <chr>, `was political` <chr>, wealth.type <chr>, `worth in
#   billions` <dbl>, year <int>

## Problem 1, 8 points

**(a)**  Alice wants to compute the mean departure delay (`dep_delay`) of flights grouped by destination airport (`dest`). She types:

```
flights %>%
    group_by(dest) %>%
    summarize(delay = mean(dep_delay))
```

But most of the values in the `delay` column of the computed tibble are `NA`. Explain, as briefly as possible, what is going on?, _1 point_

**(b)** Modify Alice's code so that the code doesn't return a tibble with mostly `NA` for the `delay` column. _2 points_

**(c)**  Building on your code from above, add a column named `count` in the summarized tibble that has the count of the number of flights flying to each destination airport. Then sort the rows in increasing order of `delay`. Use a single command involving pipes to accomplish both tasks. _3 points_

**(4)** Which airport has the least average delay? How many flights is this conclusion drawn from? Is it a reliable conclusion? _2 points_

## Problem 2, More Data Manipulation on Flight Data, 14 points

**(a)** Drop the even-numbered columns of `flights`. Store the resulting data table in a variable called `tableeven`.  _2 points_

**(b)** The tail number of the flight which was in the air for the longest amount of time was `N77066` with an air-time of 695 minutes.

In [31]:
flights %>% arrange(desc(air_time)) %>% select(tailnum, air_time) %>% head

  tailnum air_time
1 N77066  695
2 N389HA  691
3 N388HA  686
4 N380HA  686
5 N384HA  683
6 N386HA  679

Find the *unique* tail numbers(s) of the flights that were in the air for the second longest and third shortest amounts of time. Store these tail numbers as vectors in variables called `longest2_tail_num` and `shortest3_tail_num`, respectively. _4 points_

Hint: Think about ranks

**(c)** There are four flights which have a tail number that does not begin with the letter "N". Find those rows and  print them out. _2 points_

(*Hint*: the `str_sub()` command can be used to extract the first character of a string variable.)

**(d)** Select all the columns in flights which end with "delay". In the resulting table, define a new column `max_delay` which equals the maximum of the departure and arrival delays for each flight. For example, if a flight had a departure delay of `-1` and an arrival delay of `10`, the `max_delay` would equal `10`. If one or both of the delay columns is `NA`, `max_delay` should also equal `NA`. Sort your table in descending order of `max_delay` and store it in a variable called `max_delay_table`. Print the table out using the `print` function.  The first row of your table should print `1301`, `1272`, `1301` _3 points_

Hint: you may find the function `pmax` useful.

**(e) Challenge Problem** Recall that each airplane has a unique tail number given by `tailnum`. Find the tail number of the airplane which flew to the largest number of *unique* destinations from any of the the three departure airports in `flights`. Store the string containing this tail number in a variable called `most_dests`. _3 points_

Hint: you may find the function `distint` and `ungroup` useful.

## Problem 3, Thoughts on Billionaires , 8 points

**(a)** In which country are billionaires oldest on average? Youngest? (Assume all billionaires reside in country of their citizenship.) Do not count any country which has less than five observations. Store your answers in variables `oldest1` and `youngest1`, respectively. _4 points_

**(b) Challenge Problem** Each billionaire has a `category` indicating how they made their fortune. The overall distribution of categories is:

In [32]:
table(bil$category)

            energy            Finance          Financial        New Sectors
                 1                  1                800                319
Non-Traded Sectors   Resource Related     Traded Sectors           Trucking
               597                245                564                  1

After excluding billionaires with missing ages, group them into three age brackets: "40 and under", "41 to 65", and "above 65". (There are 90 billionaires aged 40 and under, for example.) What is the most common category of billionaire in each of the three age brackets? Store your answer in `table2`. The table should have three rows (one per category) and three columns: `age_bracket`, `most_common_category` and `n`, the number of billionaires in the most common category. Sort the table in descending order of `n`. _4 points_

Hint: You may find the function ifelse useful, type ?ifelse to learn more about it in R.  You can create a variable using mutate and the function ifelse.